@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-title: Lobster, serif;
  --primary-color-2: #1e3d59;
  --primary-color-3: #ff6e40;
  --primary-color-1: #ffc13b;
  --primary-color-4: #f5f0e1;
  font-size: 62.5%;
}

.body {
  position: relative;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

.App {
  position: relative;
}

@media screen and (max-width: 1100px) {
  :root {
    font-size: 55%;
  }
}

@media screen and (max-width: 850px) {
  :root {
    font-size: 50%;
  }
}

@media screen and (max-width: 350px) {
  :root {
    font-size: 40%;
  }
}

/*#######################################-- Landing --#######################################*/

.landing_page {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(
      circle at 40% 91%,
      rgba(251, 251, 251, 0.04) 0%,
      rgba(251, 251, 251, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 100%
    ),
    radial-gradient(
      circle at 66% 97%,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 100%
    ),
    radial-gradient(
      circle at 86% 7%,
      rgba(40, 40, 40, 0.04) 0%,
      rgba(40, 40, 40, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 100%
    ),
    radial-gradient(
      circle at 15% 16%,
      rgba(99, 99, 99, 0.04) 0%,
      rgba(99, 99, 99, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 100%
    ),
    radial-gradient(
      circle at 75% 99%,
      rgba(243, 243, 243, 0.04) 0%,
      rgba(243, 243, 243, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 100%
    ),
    linear-gradient(90deg, var(--primary-color-1), 70%, var(--primary-color-3));
}

.landing_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.landing_title {
  font-family: var(--brand-title);
  font-size: 10rem;
  letter-spacing: 1.3;
  text-align: center;
}

.landing_title span {
  display: block;
}

.landing_btns {
  margin: 5rem auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landing_btn {
  height: 10rem;
  width: 40rem;
  font-size: 3.5rem;
  margin: 1.5rem;
  border-radius: 5px;
  border: none;
  font-family: Roboto, sans-serif;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.landing_btn:hover {
  transform: scale(1.1);
}

.landing_btn_1 {
  clip-path: polygon(100% 0, 95% 100%, 4% 88%, 0 13%);
}

.landing_btn_2 {
  clip-path: polygon(90% 13%, 100% 100%, 3% 90%, 0 0);
}

/*#######################################-- Modals --#######################################*/

.modal_page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
  font-family: Roboto, sans-serif;
}

.modal_page_changePwd {
  display: "block";
  z-index: 1000;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-family: Roboto, sans-serif;
}

.modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 700px;
  height: 60rem;
  background: azure;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.modal_container_connexion {
  height: 50rem;
}

.modal_container_changePwd {
  height: 40rem;
}

.modal_information {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  padding: 2.5rem 2rem 0px;
}

.modal_container form {
  width: 85%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.modal_title {
  text-align: center;
  padding: 4rem 0 2rem;
  background-color: var(--primary-color-1);
  border-radius: 15px 15px 0 0;
  font-size: 3rem;
}

.modal_container label {
  font-size: 2rem;
}

.modal_input {
  margin-top: 3rem;
}

.modal_container form input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.modal_btn {
  margin: 4rem auto;
  display: block;
  width: 25rem;
  padding: 1rem;
  background-color: beige;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.modal_btn_changePwd {
  margin-left: 55%;
  width: 170px;
  border: none;
  font-size: 1.6rem;
  color: blue;
  background: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.modal_btn_changePwd:hover {
  border-bottom: 1px solid blue;
}

.modal_btn:hover {
  transform: scale(1.05);
}

.modal_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal_close:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {
  .modal_container {
    width: 90%;
  }
}

/*#######################################-- Welcome --#######################################*/

.welcome_page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*#######################################-- Header --#######################################*/

header {
  width: 100%;
  height: 10rem;
  background-color: var(--primary-color-1);
  border-bottom: 3px solid black;
  position: relative;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.header_title {
  font-family: var(--brand-title);
  font-size: 6rem;
  padding-left: 5rem;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  font-family: var(--brand-title);
  width: 60%;
  height: 100%;
}

.header_nav li {
  list-style-type: none;
}

.header_link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5px;
  position: relative;
}

.header_link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0.3rem;
  background-color: black;
  transform: scale(0);
  transition: 0.2s ease-in-out;
}

.header_link:hover::before {
  transform: scale(1);
  transition: 0.4s ease-in-out;
}

.header_link-active::before {
  transform: scale(1);
}

.header_nav_icon {
  padding-right: 1.5rem;
  font-size: 6rem;
}

.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  padding-right: 2rem;
  font-family: Roboto, sans-serif;
}

.header_btn_icon {
  font-size: 5rem;
  transition: all 0.3s ease-in-out;
}

.header_btn:hover .header_btn_icon {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

/*#######################################-- Header Section Responsive --#######################################*/

.header_nav_btnCircle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--primary-color-2);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  margin-right: 2rem;
  cursor: pointer;
}

.line {
  width: 60%;
  height: 0.3rem;
  background-color: var(--primary-color-4);
  position: relative;
  transition: transform 0.2s, top 0.2s 0.2s;
}

.line:nth-child(1) {
  top: -0.8rem;
}

.line:nth-child(3) {
  top: 0.8rem;
}

.header_nav_btnCircle-active .line:nth-child(1) {
  top: 0.3rem;
  transform: rotate(45deg);
  transition: transform 0.2s 0.2s, top 0.2s;
}

.header_nav_btnCircle-active .line:nth-child(3) {
  top: -0.3rem;
  transform: rotate(-45deg);
  transition: transform 0.2s 0.2s, top 0.2s;
}

.header_nav_btnCircle-active .line:nth-child(2) {
  transform: scale(0);
}

@media screen and (max-width: 950px) {
  .header_nav_btnCircle {
    display: flex;
  }

  .header_link span {
    display: none;
  }
  .header_nav {
    position: absolute;
    top: 45%;
    left: 95%;
    transform: translate(-50%, -50%) scale(0);
    width: 40rem;
    height: 40rem;
    background-color: var(--primary-color-3);
    z-index: 10;
    border-radius: 50%;
    border: 10px solid var(--primary-color-2);
  }

  .header_nav-active {
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
    transition: 0.5s ease-out 0.2s;
  }

  .header_nav li {
    position: absolute;
  }

  .header_nav li:nth-child(1) {
    top: 42%;
    left: 5%;
  }
  .header_nav li:nth-child(2) {
    left: 13%;
    top: 67%;
  }
  .header_nav li:nth-child(3) {
    left: 41%;
    top: 82%;
  }

  .header_link {
    transition: 0.2s ease-in-out;
  }

  .header_link-active {
    color: var(--primary-color-4);
  }

  .header_link:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
  }

  .header_link::before {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .header_btn span {
    display: none;
  }
}

/*#######################################-- TodosApp --#######################################*/

.todosApp_page,
.moviesApp_page {
  flex-grow: 1;
  background-color: var(--primary-color-4);
}

.todosApp_container,
.moviesApp_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.todosApp_title,
.moviesApp_title {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  text-align: center;
  padding: 3rem 2rem;
}

/*#######################################-- Todos --#######################################*/

.todos_section {
  background-color: var(--primary-color-3);
  margin: 1rem;
  border-radius: 1rem;
}

.todos_title2 {
  font-family: Roboto, sans-serif;
  font-size: 2.2rem;
  padding: 1.5rem;
}

.todos_todos {
  overflow: hidden;
  height: 0;
  transition: all 0.5s ease-in-out;
}

.todos_section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-2);
  border-radius: 10px 10px 0 0;
  color: var(--primary-color-4);
  cursor: pointer;
}
.todos_section_header_icon {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  transition: all 0.5s ease-in-out;
}

.todos_section_header_icon-show {
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.todoTransition-enter {
  transform: scaleY(0);
  opacity: 0;
}

.todoTransition-enter-active {
  transform: scaleY(1);
  opacity: 1;
  transition: all 0.5s ease-in;
}

.todoTransition-enter-done {
  transform: scaleY(1);
  opacity: 1;
}

.todoTransition-exit-active {
  transform: scaleY(0);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.todoTransition-exit-done {
  transform: scaleY(0);
  opacity: 0;
}

/*#######################################-- CreateTodo --#######################################*/

.createTodo_container,
.searchMovie_container {
  background-color: var(--primary-color-3);
  position: relative;
  padding: 0px 2rem;
  border-radius: 0 0 10px 10px;
}

.createTodo_header,
.searchMovie_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.createTodo_header_icon,
.searchMovie_header_icon {
  font-size: 4rem;
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg);
}

.createTodo_header_icon-close,
.searchMovie_header_icon-close {
  transition: all 0.5s ease-in-out;
  transform: rotate(0deg);
}

.createTodo_form {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.searchMovie_section {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.createTodo_form_hr,
.searchMovie_form_hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: black;
}

.searchMovie_radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
}

.searchMovie_radio p {
  font-size: 2rem;
}

.searchMovie_radio > label {
  font-size: 2rem;
  padding: 0 1rem;
}

.searchMovie_radio > input {
  margin-right: 1rem;
  width: 1.7rem;
  height: 1.7rem;
}

.createTodo_inputs label {
  font-size: 2.5rem;
}

.createTodo_inputs:nth-child(1) input {
  width: 100%;
  margin: 0.5rem auto 1rem;
  padding: 1rem;
  font-size: 2rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
}

.searchMovie_header_title,
.createTodo_header_title {
  font-size: 3rem;
  padding-left: 1rem;
}

.searchMovie_search {
  width: 80%;
  padding: 1rem 0.7rem;
  font-size: 2rem;
  outline: none;
  border-radius: 5px 0 0 5px;
  margin-top: 1rem;
  display: inline-block;
  border: 2px solid black;
}

.createTodo_inputs:not(:nth-child(1)) {
  display: inline-block;
  padding: 0.5rem 5%;
}

.createTodo_inputs:nth-child(2) input {
  width: 20rem;
  font-size: 1.8rem;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: var(--primary-color-4);
  border: 1px solid black;
}

.createTodo_inputs:nth-child(3) input {
  position: relative;
  top: 3px;
  width: 2rem;
  height: 2rem;
  font-size: 1.8rem;
}

.createTodo_btn {
  display: block;
  width: 30rem;
  padding: 1rem;
  font-size: 1.9rem;
  margin: 1.5rem auto;
  font-family: Roboto, sans-serif;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
  background-color: var(--primary-color-4);
}

.createTodo_btn:hover {
  border: 2px solid var(--primary-color-2);
  color: var(--primary-color-2);
}

.searchMovie_btn {
  display: inline-block;
  width: 20%;
  font-size: 2rem;
  padding: 1rem;
  outline: none;
  border-radius: 0 5px 5px 0;
  position: relative;
  left: -3px;
  border: 2px solid black;
  background-color: var(--primary-color-4);
}

.searchMovie_btn:hover {
  color: var(--primary-color-2);
  border: 2px solid var(--primary-color-2);
}

.searchMovie_result {
  padding: 3rem 1rem;
}

.searchMovie_page {
  display: inline-block;
  padding: 0px 0.8rem 1rem;
  cursor: pointer;
}
.searchMovie_page:hover {
  transform: scale(1.3);
}

.searchMovie_page-selected {
  color: var(--primary-color-4);
  transform: scale(1.3);
}

.searchMovie_pages {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.createTodo_errorMessage,
.searchMovie_errorMessage {
  color: white;
  font-family: Roboto;
  margin-left: 0.5rem;
  padding-top: 1.3rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 535px) {
  .searchMovie_radio {
    padding-left: 0;
  }

  .searchMovie_btn {
    display: block;
    margin: 1.5rem auto;
    width: 20rem;
    border-radius: 5px;
  }

  .searchMovie_search {
    width: 100%;
    border-radius: 5px;
  }

  .createTodo_container,
  .searchMovie_container {
    padding: 0px 0.5rem;
  }
}

/*#######################################-- Todo --#######################################*/

.todo_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.8rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: var(--primary-color-4);
}

.todo_todo {
  display: flex;
  align-items: center;
  width: 80%;
  word-wrap: break-word;
  word-break: break-all;
}

.todo_warning_logo {
  margin-right: 0.7rem;
  font-size: 2.8rem;
}

.todo_containerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_date {
  display: inline-block;
  margin-right: 2.5rem;
  font-size: 2rem;
}

.todo_btn {
  border: none;
  color: red;
  font-size: 3.5rem;
  outline: none;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .todo_container {
    flex-direction: column;
  }
  .todo_todo {
    width: 100%;
  }
  .todo_containerRight {
    align-self: flex-end;
  }
}

/*#######################################-- MovieResult --#######################################*/

.searchMovie_result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.movieResult_container {
  height: 20rem;
  width: 35rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 10px 0;
}

.movieResult_img {
  width: 15rem;
  height: 20rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movieResult_img img {
  width: 15rem;
  height: 20rem;
  border: 1px solid black;
}

.movieResult_undefineImg {
  width: 15rem;
  color: white;
  text-align: center;
  font-size: 2.3rem;
}

.movieResult_infos {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-4);
  position: relative;
  border: 1px solid black;
  border-left: none;
  overflow: hidden;
}

.movieResult_infos h4 {
  font-size: 2rem;
  padding-top: 0.5rem;
}

.movieResult_infos p {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.movieResult_btn {
  display: block;
  width: 10rem;
  font-size: 2rem;
  position: absolute;
  bottom: 0.5rem;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--primary-color-1);
}

/*#######################################-- FavoriteMovie --#######################################*/

.favoriteMovies_container {
  background-color: var(--primary-color-3);
  padding: 1px 0;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.favoriteMovie_container {
  background-color: var(--primary-color-3);
  margin: 0.5rem;
}

.favoriteMovie_header {
  display: flex;
  background-color: var(--primary-color-2);
  color: var(--primary-color-4);
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.favoriteMovie_header_delete {
  background-color: var(--primary-color-2);
  padding: 0.7rem;
  border-radius: 5px 0 0 0;
  border-right: 0.5rem solid var(--primary-color-3);
}

.favoriteMovie_header_deleteIcon {
  font-size: 4rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color-3);
}

.favoriteMovie_header_deleteIcon:hover {
  transform: translateX(-5px);
  transition: all 0.3s ease-in-out;
}

.favoriteMovie_header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.favoriteMovie_header_infos {
  display: flex;
  align-items: baseline;
  word-wrap: break-word;
}

.favoriteMovie_header_infos h3 {
  font-size: 2.8rem;
  padding: 0 4rem 0 2rem;
}

.favoriteMovie_header_icon {
  height: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.favoriteMovie_header_icon-show {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.favoriteMovie_content {
  display: flex;
  background-color: var(--primary-color-4);
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.favoriteMovie_content_img {
  min-width: 20rem;
  max-width: 25rem;
}

.favoriteMovie_content_img img {
  width: 100%;
}

.favoriteMovie_undefineImg {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.3rem;
  background-color: black;
}

.favoriteMovie_content_infos {
  padding: 0px 1rem;
  width: 100%;
}

.favoriteMovie_content_title {
  padding-left: 1.5rem;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.favoriteMovie_content_title {
  font-size: 2.2rem;
}

.favoriteMovie_content_infos p {
  text-align: justify;
  font-size: 1.7rem;
  line-height: 2.4rem;
}

.favoriteMovie_content_details {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
}

.favoriteMovie_content_details > div {
  padding-right: 4rem;
  font-weight: bold;
}

.favoriteMovie_content_details > div span {
  font-weight: initial;
}

.favoriteMovie_content_detail {
  font-size: 1.6rem;
  font-weight: bold;
}

.favoriteMovie_content_detail span {
  font-weight: initial;
  font-size: 1.6rem;
}

.favoriteMovies_none {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 4rem;
}

.favoriteMovieTransition-enter {
  opacity: 0;
  transform: scaleY(0);
}
.favoriteMovieTransition-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.5s ease-out;
}
.favoriteMovieTransition-enter-done {
  opacity: 1;
  transform: scaleY(1);
}

.favoriteMovieTransition-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s ease-out;
}
.favoriteMovieTransition-exit-done {
  opacity: 0;
  transform: scaleY(0);
}
@media screen and (max-width: 500px) {
  .movie_content {
    flex-direction: column;
    align-items: center;
  }
}

/*#######################################-- Footer --#######################################*/

footer {
  background-color: var(--primary-color-1);
  font-size: 1.8rem;
  border-top: 3px solid black;
}

.footer_infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1rem 0.5rem;
  text-align: center;
}

.footer_icon {
  font-size: 4rem;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  color: var(--primary-color-2);
}

.footer_icon:hover {
  box-shadow: 0 0 5px 2px;
  transition: all 0.4s ease-in-out;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.favoriteMovie_loader {
  height: 5.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
